@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 40px;
    background-color: #212121;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    min-height: 100vh;
}

.positive-value {
    color: rgb(3, 168, 3);
}
.negative-value {
    color: red;
}

#component-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#value-component {
    color: white;
    background-color: #3d3d3d;
    border-radius: 10px;
    height: 60%;
    width: 100%;
    margin-top: 10%;
    padding: 20px
}

#value-component > #value {
    text-align: center;
    font-size: 3rem;
}

#value-component > #currency {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
}

#value-component > #currency > img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 4px;
}

#value-component > #currency > #currency-value {
    position: absolute;
    right: 0;
}

#allocation-component {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    border-radius: 10px;
    padding: 20px;
    height: 90%;
    width: 100%;
}

#allocation-component > #heading {
    color: white;
    font-size: 2rem;
}

#margin-component {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    border-radius: 10px;
    padding: 20px;
    height: 50%;
    width: 90%;
}

#margin-component > #heading {
    color: white;
    font-size: 2rem;
}

#info-component {
    color: white;
    background-color: #3d3d3d;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    font-size: 1.5rem
}

#info-component > #value {
    float: right;
}

table {
    display: none;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

td, th {
    padding: 15px 20px;
    text-align: center;
    font-weight: 200;
}

th {
    background-color: rgb(71, 126, 246);
    color: whitesmoke;
    text-transform: uppercase;
}

tr {
    width: 100%;
    background-color: #fafafa
}

tr:nth-child(even) {
    background-color: #eeeeee;
}