{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Portfolio Valuation</title>
    <link href="{% static 'tracker/styles.css' %}" rel="stylesheet">
</head>
<body>
    <h1><center>Crypto Portfolio</center></h1>
    <br>
    <br>

    <div id="component1">
        <h1>£{{value}}</h1>
        {% for pair in currency_value_pairs %}
            <h3>{{pair.0}}: £{{pair.1}}</h3>
        {% endfor %}
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div>
        <table>
 
            <tr>
                <th>Currency</th>
                <th>Amount</th>
                <th>Cost Basis (£)</th>
                <th>Current Value (£) </th>
                <th>Profit/Loss (£) </th>
                <th>ROI (%)</th>
                <th>Allocation (%)</th>
            </tr>

            {% for entry in table_data %}
           
            <tr>
                <td>{{entry.currency}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.cost_basis}}</td>
                <td>{{entry.current_value}}</td>
                <td>{{entry.pnl}}</td>
                <td>{{entry.roi}}</td>
                <td>{{entry.allocation}}</td>
            </tr>

            {% endfor %}
            
        </table>        
    </div>

</body>
</html>