{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Portfolio Valuation</title>
    <link href="{% static 'tracker/styles.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>
<body>
    <h1><center>Crypto Portfolio</center></h1>
    <br>
    <br>

    <div id="components">
        <div id="component1">
            <div id="value">£{{value}}</div>
            <br>
            <br>
            {% for pair in currency_value_pairs %}
                <div id="currency"><img src="{% static 'tracker/'|add:pair.0|add:'.jpg' %}"> {{pair.0}} <span id="currency-value">£{{pair.1}}</span></div>
            {% endfor %}
        </div>

        <br>
        <br>

        <div id="component2">
            <div id="heading">Portfolio Allocation %</div>
            <br>
            <div id="donut-chart">
                <canvas id="allocation-chart"></canvas>
                {{ currencies|json_script:"currencies" }}
                {{ allocations|json_script:"allocations" }}

                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const currencies = JSON.parse(document.getElementById('currencies').textContent);
                        const allocations = JSON.parse(document.getElementById('allocations').textContent);

                        var ctx = document.getElementById("allocation-chart").getContext("2d");
            
                        var chart = new Chart(ctx, {
                            type: "doughnut",
                            data: {
                                labels: currencies,
                                datasets: [{
                                        data: allocations,
                                        backgroundColor: ['#2a60de', '#F7931A']
                                    }]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: false,
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>

        <br>
        <br>

        <div id="component3">
            <div id="heading">Profit Margin</div>
            <br>
            <div id="bar-chart">
                <canvas id="pnl-chart"></canvas>
                {{ pnl_margins|json_script:"pnl_margins" }}

                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const currencies = JSON.parse(document.getElementById('currencies').textContent);
                        const pnl_margins = JSON.parse(document.getElementById('pnl_margins').textContent);

                        var ctx = document.getElementById("pnl-chart").getContext("2d");
                        var colour = pnl_margins.map(value => value >= 0 ? 'green' : 'red')

                        var chart = new Chart(ctx, {
                            type: "bar",
                            data: {
                                labels: currencies.reverse(),
                                datasets: [{
                                    data: pnl_margins,
                                    backgroundColor: colour
                                }],
                            },
                            options: {
                                indexAxis: 'y',
                                elements: {
                                    bar: {
                                        borderWidth: 2,
                                    }
                                },
                                responsive: true,
                                plugins: {
                                    legend: {
                                        display: false,
                                    },
                                title: {
                                    display: false,
                                    }
                                },
                                scales: {
                                    x: {
                                        ticks: {
                                            color: 'white' 
                                        }
                                    },
                                    y: {
                                        ticks: {
                                            color: 'white' 
                                        }
                                    }
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>

        <br>
        <br>


        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div id="component5">
            <table>
    
                <tr>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Cost Basis (£)</th>
                    <th>Current Value (£) </th>
                    <th>Profit/Loss (£) </th>
                    <th>ROI (%)</th>
                    <th>Allocation (%)</th>
                </tr>

                {% for entry in table_data %}
            
                <tr>
                    <td>{{entry.currency}}</td>
                    <td>{{entry.amount}}</td>
                    <td>{{entry.cost_basis}}</td>
                    <td>{{entry.current_value}}</td>
                    <td>{{entry.pnl}}</td>
                    <td>{{entry.roi}}</td>
                    <td>{{entry.allocation}}</td>
                </tr>

                {% endfor %}
                
            </table>        
        </div>
    </div>

</body>
</html>